* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

body {
    background-color: #0a1f5a;
}

.navbar {
    background-color: #000000;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 32px;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: black;
}

.navbar a:hover {
    color: #ffcc00;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.title {
    font-size: 36px;
    margin-bottom: 15px;
}

.description {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ffcc00;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e6b800;
}

#globo {
    margin-left: auto; /* #globo para a direita */
    background-color: none;
    
}

img {
    max-width: 50%;
    height: 50%;
    display: block;
    margin: 0 30%;
}



@media (max-width: 1024px) and (min-width: 856px) {
    .navbar a {
        font-size: 28px;
    }
    
    .container {
        max-width: 80%;
    }
/* 
    img {
        max-width: 25%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding: 10px;
    } */
}

@media (max-width: 855px) and (min-width: 601px) {
    .navbar a {
        font-size: 28px;
    }
    
    .container {
        max-width: 80%;
    }

    img {
        display: none;
    }
}

    
    @media (max-width: 600px) {
        img {
            display: none;
        }

        #globo {
            display: none;
        }
    }
